{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

<section class="galeria formulario-cadastro">
    <form action="{% url 'cadastro' %}" method="POST" class="formulario">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            <div class="campo-form">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>

                {{ field }}

                {% for error in field.errors %}
                    <div class="alert alert-danger erro-form">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success botao-form">
            Cadastrar
        </button>
    </form>
</section>

{% endblock %}