{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

<section class="galeria formulario-editar-imagem">
    <form action="{% url 'editar_imagem' foto_id %}" method="POST" enctype="multipart/form-data" class="formulario">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            <div class="campo-form">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>

                {{ field }}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success botao-form">
            Salvar Edição
        </button>
    </form>
</section>

{% endblock %}
